.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-image {
  width: 400px;
}

.not-found-heading {
  color: #171f46;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
}

.not-found-description {
  color: #64748b;
  font-family: 'Roboto';
}

.light-bg-container {
  background-color: #000000;
}

.dark-bg-container {
  background-color: #ffffff;
}

.dark-font-color {
  color: #ffffff;
  margin-bottom: 20px;
}
